### Note
* Comments detailing the flow have been included for each segment.

In [59]:
# Dependencies and Setup
import pandas as pd
import pprint         # this is only needed for debug

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
pp = pprint.PrettyPrinter(indent=4)

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [60]:
# Find the number of screen names "SN", for player count
player_count = len(purchase_data_df["SN"].unique())
# print(player_count)

# Create a data frame
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
# find unique items, average price, purchase count, and revenue
count_unique_items = len(purchase_data_df["Item ID"].unique())
average_price = purchase_data_df["Price"].mean()
count_purchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

# create data frame with specific columns
summary_df = pd.DataFrame({"Number of Unique Items": [count_unique_items],
                           "Average Price": [average_price], 
                           "Number of Purchases": [count_purchases], 
                           "Total Revenue": [total_revenue]
                         })

# format as currency
summary_df.style.format({"Average Price": '${:,.2f}',
                         "Total Revenue": '${:,.2f}'
                       })

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [62]:
# get a gender data frame group
gender_dfg = purchase_data_df.groupby("Gender")
# for key, item in gender_dfg:
#     print(gender_dfg.get_group(key))

# total screen names by gender
total_gender_dfu = gender_dfg.nunique()["SN"]
# print(total_gender_dfu)

# find player percentage 
percent_of_players_dfu = total_gender_dfu / player_count * 100
# print(percent_of_players_dfu)

# Create data frame
gender_demo_df = pd.DataFrame({"Total Count": total_gender_dfu, "Percentage of Players": percent_of_players_dfu})
gender_demo_df.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demo_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
# Get the stats from the gender data frame 
purchase_count_col = gender_dfg["Purchase ID"].count()
avg_purchase_price_col = gender_dfg["Price"].mean()
avg_purchase_total_col = gender_dfg["Price"].sum()
avg_purchase_per_person_col = avg_purchase_total_col / total_gender

# Create data frame with the values above 
gender_sum_df = pd.DataFrame({
                               "Purchase Count": purchase_count_col, 
                               "Average Purchase Price": avg_purchase_price_col,
                               "Average Purchase Value":avg_purchase_total_col,
                               "Avg Purchase Total per Person": avg_purchase_per_person_col
                             })

# Make index in top left "Gender"
gender_sum_df.index.name = "Gender"

# Format with currency style
gender_sum_df.style.format({
                                "Average Purchase Price":"${:,.2f}",
                                "Average Purchase Value":"${:,.2f}",
                                "Avg Purchase Total per Person":"${:,.2f}"
                            })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [87]:
# Create age bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create the "Age Group" Index
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_names)
# purchase_data_df

# Create new data frame group
ages_dfg = purchase_data_df.groupby("Age Group")
# for key, item in ages_dfg:
#    print(ages_dfg.get_group(key))

# Get the stats
total_age_count = ages_dfg["SN"].nunique()
# print(total_age_count)
age_bin_percent = total_count_age / player_count * 100

# Create the dataframe
age_summary_df = pd.DataFrame({"Total Count": total_age_count, "Percentage of Players": age_bin_percent})
age_summary_df.index.name = None
age_summary_df.style.format({"Percentage of Players": "{:.2f}%"})

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
# Create new data frame group
purchase_analysis_dfg = purchase_data_df.groupby("Age Group")

# Get the stats
purchase_analysis_count = purchase_analysis_dfg["Purchase ID"].nunique()
purchase_analysis_avg_pp = purchase_analysis_dfg["Price"].mean()
purchase_analysis_tot_pp = purchase_analysis_dfg["Price"].sum()
purchase_analysis_avg_tot_pp = purchase_analysis_tot_pp / total_age_count

# Create the dataframe
age_analysis_df = pd.DataFrame({
                                "Purchase Count": purchase_analysis_count, 
                                "Average Purchase Price": purchase_analysis_avg_pp,
                                "Total Purchase Value": purchase_analysis_tot_pp,
                                "Avg Total Purchase per Person": purchase_analysis_avg_tot_pp
                              })

# Print the new dataframe
age_analysis_df.index.name = None
age_analysis_df.style.format({
                                "Average Purchase Price": "${:.2f}",
                                "Total Purchase Value": "${:.2f}",
                                "Avg Total Purchase per Person": "${:.2f}"
                             })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80