### Observable Trends
* The most apparent trend in the data is the difference in gender percentages. In the Pymoli data, 84.03% of the users are male, while 14.06% are female.
* If one examines the Purchasing Analysis (Gender) data frame, men make 82.68% of the total purchases while women make 15.21%. What is significant about this is that women purchase 15.21% of the total while only making up 14.06% of the game population. Women are spending more than men.
* In the Purchasing Analysis (Age) data frame, we find that the 20-24-year-old age bracket is the largest but does not spend the most. The age group that purchases the most is the 35-39-year-old group; this group spends $4.76 per person. I would expect an older age bracket to buy more as they likely have more disposable income. Finally, the most surprising piece of data is the <10-year-old group comes in second with $4.54; this may be an artifact of the small sample size, though.

### Note
* Comments detailing the flow have been included for each segment.

In [1]:
# Dependencies and Setup
import pandas as pd
import pprint         # this is only needed for debug

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
pp = pprint.PrettyPrinter(indent=4)

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Find the number of screen names "SN", for player count
player_count = len(purchase_data_df["SN"].unique())
# print(player_count)

# Create a data frame
player_count_df = pd.DataFrame({"Total Players": [player_count]})
# html = player_count_df.to_html()
# print(html)
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Get the stats
count_unique_items_col = len(purchase_data_df["Item ID"].unique())
average_price_col = purchase_data_df["Price"].mean()
count_purchases_col = purchase_data_df["Purchase ID"].count()
total_revenue_col = purchase_data_df["Price"].sum()

# create data frame with specific columns
summary_df = pd.DataFrame({"Number of Unique Items": [count_unique_items_col],
                           "Average Price": [average_price_col], 
                           "Number of Purchases": [count_purchases_col], 
                           "Total Revenue": [total_revenue_col]
                         })

# format as currency
# html = summary_df.to_html()
# print(html)
summary_df.style.format({"Average Price": '${:,.2f}',
                         "Total Revenue": '${:,.2f}'
                       })

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# get a gender data frame group
gender_dfg = purchase_data_df.groupby("Gender")
# for key, item in gender_dfg:
#     print(gender_dfg.get_group(key))

# Get the stats
total_gender_dfu = gender_dfg.nunique()["SN"]
# print(total_gender_dfu)
percent_of_players_dfu = total_gender_dfu / player_count * 100
# print(percent_of_players_dfu)

# Create data frame
gender_demo_df = pd.DataFrame({"Total Count": total_gender_dfu, "Percentage of Players": percent_of_players_dfu})
gender_demo_df.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
# html = gender_demo_df.to_html()
# print(html)
gender_demo_df.sort_values(["Total Count"], ascending = False).style.format(
                            {"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Get the stats from the gender data frame 
purchase_count_col = gender_dfg["Purchase ID"].count()
avg_purchase_price_col = gender_dfg["Price"].mean()
avg_purchase_total_col = gender_dfg["Price"].sum()
avg_purchase_per_person_col = avg_purchase_total_col / total_gender_dfu

# Create data frame with the values above 
gender_sum_df = pd.DataFrame({
                               "Purchase Count": purchase_count_col, 
                               "Average Purchase Price": avg_purchase_price_col,
                               "Average Purchase Value":avg_purchase_total_col,
                               "Avg Purchase Total per Person": avg_purchase_per_person_col
                             })

# Make index in top left "Gender"
gender_sum_df.index.name = "Gender"

# html = gender_sum_df.to_html()
# print(html)

# Format with currency style
gender_sum_df.style.format({
                                "Average Purchase Price": "${:,.2f}",
                                "Average Purchase Value": "${:,.2f}",
                                "Avg Purchase Total per Person": "${:,.2f}"
                            })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create age bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create the "Age Group" Index
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_names)

# Create new data frame group
ages_dfg = purchase_data_df.groupby("Age Group")
# for key, item in ages_dfg:
#    print(ages_dfg.get_group(key))

# Get the stats
total_age_count_col = ages_dfg["SN"].nunique()
age_bin_percent_col = total_age_count_col / player_count * 100

# Create the dataframe
age_summary_df = pd.DataFrame({"Total Count": total_age_count_col, "Percentage of Players": age_bin_percent_col})
age_summary_df.index.name = None
# html = age_summary_df.to_html()
# print(html)
age_summary_df.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create new data frame group
purchase_analysis_dfg = purchase_data_df.groupby("Age Group")

# Get the stats
purchase_analysis_count_col = purchase_analysis_dfg["Purchase ID"].nunique()
purchase_analysis_avg_pp_col = purchase_analysis_dfg["Price"].mean()
purchase_analysis_tot_pp_col = purchase_analysis_dfg["Price"].sum()
purchase_analysis_avg_tot_pp_col = purchase_analysis_tot_pp_col / total_age_count_col

# Create the dataframe
age_analysis_df = pd.DataFrame({
                                "Purchase Count": purchase_analysis_count_col, 
                                "Average Purchase Price": purchase_analysis_avg_pp_col,
                                "Total Purchase Value": purchase_analysis_tot_pp_col,
                                "Avg Total Purchase per Person": purchase_analysis_avg_tot_pp_col
                              })

# Print the new dataframe
age_analysis_df.index.name = None
# html = age_analysis_df.to_html()
# print(html)
age_analysis_df.style.format({
                                "Average Purchase Price": "${:,.2f}",
                                "Total Purchase Value": "${:,.2f}",
                                "Avg Total Purchase per Person": "${:,.2f}"
                             })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Create new data frame group
names_dfg = purchase_data_df.groupby("SN")
# for key, item in names_dfg:
#    print(names_dfg.get_group(key))

# Get the stats
top_purchase_count_col = names_dfg["Purchase ID"].count()
top_average_pp_col = names_dfg["Price"].mean()
top_total_purchase_value_col = names_dfg["Price"].sum()

# Create data frame with the values above 
top_sum_df = pd.DataFrame({
                            "Purchase Count": top_purchase_count_col, 
                            "Average Purchase Price": top_average_pp_col,
                            "Total Purchase Value": top_total_purchase_value_col
                          })

# Format with currency style
# html = top_sum_df.sort_values(['Total Purchase Value'], ascending=False).head().to_html()
# print(html)
top_sum_df.sort_values(['Total Purchase Value'], ascending=False).head().style.format({
                                                                                        "Average Purchase Price": "${:,.2f}",
                                                                                        "Total Purchase Value": "${:,.2f}"
                                                                                     })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Create new dataframe
items_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]

# Create the dataframe group
items_dfg = items_df.groupby(['Item ID', 'Item Name'])
# for key, item in items_dfg:
#    print(items_dfg.get_group(key))

# Get the stats
mostpop_purchase_count_col = items_dfg["Item ID"].count()
mostpop_total_purchase_value_col = items_dfg["Price"].sum()
mostpop_total_avg_item_price_col = mostpop_total_purchase_value_col / mostpop_purchase_count_col

# Create data frame with the values above 
mostpop_sum_df = pd.DataFrame({
                               "Purchase Count": mostpop_purchase_count_col, 
                               "Item Price": mostpop_total_avg_item_price_col,
                               "Total Purchase Value": mostpop_total_purchase_value_col
                             })

# Format with currency style
# html = mostpop_sum_df.sort_values(['Purchase Count'], ascending=False).head().to_html()
# print(html)
mostpop_sum_df.sort_values(['Purchase Count'], ascending=False).head().style.format({
                                                                                      "Item Price": "${:,.2f}",
                                                                                      "Total Purchase Value": "${:,.2f}"
                                                                                   })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Format with currency style
# html = mostpop_sum_df.sort_values(['Total Purchase Value'], ascending=False).head().to_html()
# print(html) 
mostpop_sum_df.sort_values(['Total Purchase Value'], ascending=False).head().style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})